<div class="settings">
    <section class="content">
      <h1>{{ 'app.common-component.settings.title' | translate }}</h1>
  
      <div class="setting-section">
        <h2>{{ 'app.common-component.settings.language.title' | translate }}</h2>
        <p>{{ 'app.common-component.settings.language.description' | translate }}</p>
        <button mat-flat-button (click)="changeLanguage()">
          {{ 'app.common-component.settings.language.change' | translate }}
        </button>      </div>
  
      <div class="setting-section">
        <h2>{{ 'app.common-component.settings.notifications.title' | translate }}</h2>
        <p>{{ 'app.common-component.settings.notifications.description' | translate }}</p>
        <button mat-flat-button>{{ 'app.common-component.settings.notifications.manage' | translate }}</button>
      </div>
  
      <div class="setting-section">
        <h2>{{ 'app.common-component.settings.security.title' | translate }}</h2>
        <p>{{ 'app.common-component.settings.security.description' | translate }}</p>
        <button mat-flat-button>{{ 'app.common-component.settings.security.update' | translate }}</button>
      </div>
    </section>
</div>