<main class="profile-wrapper">
  <div class="profile-header">
    <!-- <img class="avatar" src="userProfile.profilPicture" alt="'generic-error.image-not-found' | translate" /> -->
    <div class="profile-info">
      <h1 class="username">{{ userProfile.username }} </h1>
      <p class="bio">{{ userProfile.description }}</p>
      <div class="stats">
        <div><span class="bold">{{ userProfile.watchedMoviesCount }}</span> {{ 'app.common-component.profile.stats.watched' | translate }}</div>
        <div><span class="bold">{{ userProfile.reviewsCount }}</span> {{ 'app.common-component.profile.stats.reviews' | translate }}</div>
        <div><span class="bold">{{ userProfile.watchlistCount }}</span> {{ 'app.common-component.profile.stats.watchlist' | translate }}</div>
      </div>
    </div>
    <button mat-stroked-button (click)="editProfile()">{{ 'app.common-component.profile.actions.edit' | translate }}</button>
  </div>

  <app-history class="history"></app-history>
  <!-- <mat-tab-group>
    <mat-tab label="{{ 'app.common-component.profile.tabs.activity' | translate }}">
      <h2>{{ 'app.common-component.profile.sections.activity.title' | translate }}</h2>
      <mat-card class="activity-card">
        <mat-card-content>
          <div class="activity-item">
            <mat-icon>favorite</mat-icon>
            {{ 'app.common-component.profile.sections.activity.like' | translate:{ film: 'Interstellar' } }}
            <p class="timestamp">{{ 'app.common-component.profile.sections.activity.time.4h' | translate }}</p>
          </div>
          <mat-divider></mat-divider>
          <div class="activity-item">
            <mat-icon>playlist_add</mat-icon>
            {{ 'app.common-component.profile.sections.activity.add' | translate:{ film: 'Pulp Fiction' } }}
            <p class="timestamp">{{ 'app.common-component.profile.sections.activity.time.2d' | translate }}</p>
          </div>
          <mat-divider></mat-divider>
          <div class="activity-item">
            <mat-icon>movie</mat-icon>
            {{ 'app.common-component.profile.sections.activity.watch' | translate:{ film: 'The Dark Knight' } }}
            <p class="timestamp">{{ 'app.common-component.profile.sections.activity.time.1w' | translate }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="{{ 'app.common-component.profile.tabs.favorites' | translate }}">
      <h2>{{ 'app.common-component.profile.sections.favorites.title' | translate }}</h2> -->
      <!-- FIX ME LATER : Compenent Film Card -->
    <!-- </mat-tab>
  </mat-tab-group> -->
</main>