cinematch-frontend/.vscode
cinematch-backend/.mvn
.idea
dataset-to-liquibase/liquibase_chunks
dataset-to-liquibase/TMDB_all_movies.csv
cinematch-backend-service/cinematch-backend/src/main/resources/db/changelog/tmdb*.xml
dataset-to-liquibase/changeset.xml
cinematch-backend-service/cinematch-backend/src/main/resources/db/changelog/full-db-insert.xml
dataset-to-liquibase/.venv
cinematch-backend-service/cinematch-backend/src/main/resources/db/changelog/dataset_chunks
python-api/venv
python-api/__pycache__
dataset-to-liquibase/subset.csv
express-socket/node_modules
express-socket/dist
ai-movie_clustering/.vscode
ai-movie_clustering/.editorconfig
python-api/uv.lock
python-api/core/utils/__pycache__
python-api/core/scripts/__pycache__
python-api/core/__pycache__
python-api/core/data
python-api/core/output/liquibase_xml
cinematch-backend-service/cinematch-backend/src/main/resources/db/changelog/similar-movie-chunks
