<div class="movie-history-entry">
  <img [src]="posterPath" alt="{{ movie.title }}" class="movie-poster">
  <div class="movie-details" style="display: flex; flex-direction: row; justify-content: space-between; width: 100%">
    <a (click)="goToMovie(movie.id)" class="movie-title">{{ movie.title }}</a>

    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex; align-items: center;">
        <mat-icon class="mr-4" style="color:#ffe234;" aria-hidden="false" aria-label="star" fontIcon="star"></mat-icon>
        <div class="mr-10">{{ movie.imdbRating }}</div>
      </div>
      <div style="display: flex; align-items: center;">
        <mat-icon class="mr-4" aria-hidden="false" aria-label="calendar_today" fontIcon="calendar_today"></mat-icon>
        <div class="mr-10">{{ movie.releaseDate | date:'y' }}</div>
      </div>
      <div style="display: flex; align-items: center;">
        <mat-icon class="mr-4" aria-hidden="false" aria-label="access_time" fontIcon="access_time"></mat-icon>
        <div class="mr-10">{{ movie.runtime }} min</div>
      </div>
    </div>
  </div>
</div>
