<mat-tab-group>
    <mat-tab label="{{ 'app.common-component.profile.tabs.activity' | translate }}">
        <h2>{{ 'app.common-component.profile.sections.activity.title' | translate }}</h2>
        <mat-card class="activity-card">
            <mat-card-content>
                <div *ngFor="let content of history?.content, index as i" class="activity-item">
                    <app-history-entry
                        [historyEntry]="content">
                    </app-history-entry>
                    <mat-divider *ngIf="i !== history.content.length - 1"></mat-divider>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="{{ 'app.common-component.profile.tabs.favorites' | translate }}">
      <h2>{{ 'app.common-component.profile.sections.favorites.title' | translate }}</h2>
      <mat-card class="activity-card">
        <mat-card-content>
          <div *ngFor="let movie of moviesLoved">
            <app-movie-history-entry [movie]="movie.movie"></app-movie-history-entry>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="{{ 'app.common-component.profile.tabs.diary' | translate }}">
      <h2>{{ 'app.common-component.profile.sections.diary.title' | translate }}</h2>
      <mat-card class="activity-card">
        <mat-card-content>
          <div *ngFor="let movie of moviesWatched">
            <app-movie-history-entry [movie]="movie.movie"></app-movie-history-entry>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="{{ 'app.common-component.profile.tabs.watchlist' | translate }}">
      <h2>{{ 'app.common-component.profile.sections.watchlist.title' | translate }}</h2>
      <mat-card class="activity-card">
        <mat-card-content>
          <div *ngFor="let movie of moviesInWatchlist">
            <app-movie-history-entry [movie]="movie.movie"></app-movie-history-entry>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="{{ 'app.common-component.profile.tabs.review' | translate }}">
      <h2>{{ 'app.common-component.profile.sections.review.title' | translate }}</h2>
      <mat-card class="activity-card">
        <mat-card-content>
          <div *ngFor="let review of reviews" class="activity-item">
            <app-review-history-entry [review]="review"></app-review-history-entry>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>

</mat-tab-group>
