<mat-tab-group>
    <mat-tab label="{{ 'app.common-component.profile.tabs.activity' | translate }}">
        <h2>{{ 'app.common-component.profile.sections.activity.title' | translate }}</h2>
        <mat-card class="activity-card">
            <mat-card-content>
                <div *ngFor="let content of history?.content, index as i" class="activity-item">
                    <app-history-entry
                        [historyEntry]="content">                        
                    </app-history-entry>
                    <mat-divider *ngIf="i !== history.content.length - 1"></mat-divider>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="{{ 'app.common-component.profile.tabs.favorites' | translate }}">
        <h2>{{ 'app.common-component.profile.sections.favorites.title' | translate }}</h2>
        <!-- FIX ME LATER : Compenent Film Card -->
    </mat-tab>
</mat-tab-group>