<div class="login-container">
    <h1>{{ 'app.common-component.login.title' | translate }}</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'app.common-component.login.username-label' | translate }}</mat-label>
        <input matInput formControlName="username" placeholder="Enter your username" />
        <mat-error>
          {{ 'app.common-component.login.username-error-required' | translate }}
        </mat-error>
        <mat-error>
          {{ 'app.common-component.login.username-error-length' | translate }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'app.common-component.login.password-label' | translate }}</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password" />
        <mat-error>
          {{ 'app.common-component.login.password-error-required' | translate }}
        </mat-error>
        <mat-error>
          {{ 'app.common-component.login.password-error-length' | translate }}
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        {{ 'app.common-component.login.submit-button' | translate }}
      </button>
    </form>
  </div>
  