<div class="terms-of-service">
    <section class="content">
      <h1>{{ 'app.common-component.terms.title' | translate }}</h1>
      <p>{{ 'app.common-component.terms.intro' | translate }}</p>
  
      <h2>{{ 'app.common-component.terms.acceptance.title' | translate }}</h2>
      <p>{{ 'app.common-component.terms.acceptance.description' | translate }}</p>
  
      <h2>{{ 'app.common-component.terms.usage.title' | translate }}</h2>
      <p>{{ 'app.common-component.terms.usage.description' | translate }}</p>
  
      <h2>{{ 'app.common-component.terms.limitation.title' | translate }}</h2>
      <p>{{ 'app.common-component.terms.limitation.description' | translate }}</p>
  
      <p class="last-note">{{ 'app.common-component.terms.contact' | translate }}</p>
    </section>
  </div>