<div class="container" *ngIf="recommendedMovies?.length !== 0; else noMovies">
    <div class="m-20 title-xl">Film Recommendations</div>
    <!-- <div class="filter border mx-20">
        <div class="title-md m-10">
            Filters
        </div>
        <div class="slider-container my-20">
            Runtime (minutes)
            <mat-slider min="30" max="240" class="runtime-slider">
                <input [(ngModel)]="minTime" matSliderStartThumb (ngModelChange)="onSliderChange()">
                <input [(ngModel)]="maxTime" matSliderEndThumb (ngModelChange)="onSliderChange()">
            </mat-slider>
            <div class="runtime-values mx-10 subtitle-sm">
                <div>{{minTime}} min</div>
                <div>{{maxTime}} min</div>
            </div>
        </div>

        <mat-divider></mat-divider>


        <div class="select-container my-20">
            <mat-form-field appearance="fill" class="select my-20">
                <mat-label>Genres</mat-label>
                <mat-select multiple (selectionChange)="onSelectionChange()" [formControl]="selectedGeners"
                    placeholder="Select" (closed)="onClosedPanel()">
                    
                    <div class="search-wrapper">
                        <mat-form-field class="search-field">
                            <input matInput type="text" [formControl]="genersSearchControl" placeholder="Search"
                                autocomplete="off">
                            <button *ngIf="genersSearchControl.value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="$event.stopPropagation(); genersSearchControl.setValue('')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="select my-20">
                <mat-label>Languages</mat-label>
                <mat-select multiple (selectionChange)="onSelectionChange()" [formControl]="selectedLanguages"
                    placeholder="Select" (closed)="onClosedPanel()">
                    
                    <div class="search-wrapper">
                        <mat-form-field class="search-field">
                            <input matInput type="text" [formControl]="languageSearchControl" placeholder="Search"
                                autocomplete="off">
                            <button *ngIf="languageSearchControl.value" matSuffix mat-icon-button aria-label="Clear"
                                (click)="$event.stopPropagation(); languageSearchControl.setValue('')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <mat-option *ngFor="let option of filteredLanguagesOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div> -->
    <!-- <button mat-raised-button class="select m-20" (click)="getRecommendations()">
        Filter
    </button> -->
    <div class="list">
        <div *ngFor="let recommendedMovie of recommendedMovies">
            <movie-card [movie]="recommendedMovie"></movie-card>
        </div>
    </div>
</div>
<ng-template #noMovies>
    <h1 class="not-found">
        {{ 'app.common-component.recommendation.not-found' | translate}}
    </h1>
</ng-template>