.synopsis{
    display: flex;
    flex-direction: column;
}

.details-container{
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detail{
    display: flex;
    flex-direction: column;
}