<div >
    <div class="synopsis my-10">
        <div class="title-md">Synopsis</div>
        <div class="text">{{movie?.overview}}</div>
    </div>
    <div class="details-container my-10">
        <div class="title-md">Details</div>

        <div class="details">
            <div class="detail m-20">
                <div class="title-md">Director</div>
                <div class="text" *ngFor="let director of movie?.director">
                    {{director}}
                </div>
            </div>

            <div class="detail m-20">
                <div class="title-md">Runtime</div>
                <div class="text">{{movie.runtime}}</div>
            </div>

            <div class="detail m-20">
                <div class="title-md">Release Year</div>
                <div class="text">{{movie.releaseDate  | date:'y'}}</div>
            </div>

            <div class="detail m-20">
                <div class="title-md">Rating</div>
                <div class="text">{{movie.imdbRating}}</div>
            </div>

            <div class="detail m-20">
                <div class="title-md">Music composer</div>
                <div class="text" *ngFor="let director of movie?.musicComposer">
                    {{director}}
                </div>
            </div>

            <div class="detail m-20">
                <div class="title-md">Director of photography</div>
                <div class="text" *ngFor="let director of movie?.directorOfPhotography">
                    {{director}}
                </div>
            </div>
        </div>

    </div>
</div>