<mat-toolbar class="header-toolbar" color="transparent">

  <!-- Bloc de gauche -->
  <div class="left-section">
    <!-- Logo -->
    <span class="logo">{{ 'app.common-component.header.title' | translate }}</span>

    <!-- Navigation items -->
    <div class="nav-links">
      <button
        *ngFor="let item of headerMenuItem"
        mat-button
        [routerLink]="item.shortLink"
        routerLinkActive="active-link"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.textKey | translate }}
      </button>
    </div>
  </div>
  <!-- Bloc de droite -->
  <div class="right-section">

    <!-- Search -->
    <mat-form-field class="search-field" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [placeholder]="'app.common-component.header.search-placeholder' | translate" />
    </mat-form-field>

    <!-- Login -->
     <div *ngIf="!isConnected; else notConnected" class="login-signup-wrapper">
      <button  mat-stroked-button color="primary" class="login-button" routerLink="/login">
        <mat-icon>login</mat-icon>
        {{ 'app.common-component.login.title' | translate }}
      </button>
      <button mat-stroked-button color="primary" class="login-button" routerLink="/signup">
        <mat-icon>login</mat-icon>
        {{ 'app.common-component.signup.title' | translate }}
      </button>
     </div>
     <ng-template #notConnected>
      <button mat-stroked-button color="primary" class="login-button" (click)="logout()">
        <mat-icon>login</mat-icon>
        {{ 'app.common-component.header.logout' | translate }}
      </button>
     </ng-template>

    <!-- Menu icon (mobile/small screen) -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      @for (item of headerMenuItem; track item.id) {
        <button mat-menu-item [routerLink]="item.shortLink">
          {{ item.textKey | translate }} 
        </button>
      }
    </mat-menu>
  </div>

</mat-toolbar>
