
<!-- privacy-policy.component.html -->
<div class="privacy-policy">
    <section class="content">
      <h1>{{ 'app.common-component.privacy.title' | translate }}</h1>
      <p>{{ 'app.common-component.privacy.intro' | translate }}</p>
  
      <h2>{{ 'app.common-component.privacy.data_collection.title' | translate }}</h2>
      <p>{{ 'app.common-component.privacy.data_collection.description' | translate }}</p>
  
      <h2>{{ 'app.common-component.privacy.usage.title' | translate }}</h2>
      <p>{{ 'app.common-component.privacy.usage.description' | translate }}</p>
  
      <h2>{{ 'app.common-component.privacy.rights.title' | translate }}</h2>
      <p>{{ 'app.common-component.privacy.rights.description' | translate }}</p>
  
      <p class="last-note">{{ 'app.common-component.privacy.contact' | translate }}</p>
    </section>
  </div>