.activity-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between;
}


.timestamp {
    font-size: 0.875rem;
    color: var(--text-muted);
}

.loved {
    color: red;
}

.entry-icon-with-text {
    display: flex;
    align-items: center;
    gap: 1em;
}

.film-link {
  color: #bbaef1;
  cursor: pointer;
  text-decoration: underline;
}

.film-link:hover {
  text-decoration: none;
}
