.card {
    flex-direction: row;
    height: 335px;
    width: 100%;
}

.image {
    max-width: 100%;
    height: auto;
}

.movie-action {
    text-align: right;
    height: 0;
}

.header-image {
    background-size: cover;
}

.card-content {
    flex:1;
}

.card-action {
    display: flex;
    justify-content: start;
}




.rounded-border-gradient {
    text-align: center;
    padding: 5px;
    border: solid 2px grey;
    border-radius: 20px;
    min-height: 20px;
    min-width: 50px;
}