<div *ngIf="!!movie; else notFound" class=" mx-20">

    <div class="container-movie">

        <img class="image" [src]="posterUrl" [alt]="'app.common-component.movie-details.image-not-found' | translate">

    <div class="details mx-10">
        <div class="name  mr-10 title-md name-and-action-wrapper">
            <h2>{{movie.title}}</h2>
            <app-movie-actions
                [disabled]="!isLogged"
                [showLike]="true"
                [showWatchList]="true"
                [movieId]="movie.id"
                [isInWatchList]="isInWatchlist"
                [isLiked]="isLiked"
                (watchlistActionEvent)="handleWatchListAction($event)"
                (reviewActionEvent)="handleReviewAction($event)"
                (likeActionEvent)="handleLikeAction($event)">
            </app-movie-actions>
        </div>
        <div style="display: flex;" class="my-20">
            <mat-icon class="mr-4" style="color:#ffe234;" aria-hidden="false" aria-label="star"
                fontIcon="star"></mat-icon>
            <div class="mr-10">{{movie?.imdbRating}}</div>
            <mat-icon class="mr-4" aria-hidden="false" aria-label="calendar_today" fontIcon="calendar_today"></mat-icon>
            <div class="mr-10">{{movie?.releaseDate | date:'y'}}</div>
            <mat-icon class="mr-4" aria-hidden="false" aria-label="access_time" fontIcon="access_time"></mat-icon>
            <div class="mr-10">{{movie?.runtime}} min</div>
        </div>
        <div style="display: flex; flex-direction: row;" class="my-20">
            <div *ngFor="let g of movie.genres" class="rounded-border-gradient mr-10">{{g}}</div>
        </div>
        <div class="mr-10">{{movie.overview}}</div>
        <!-- cast -->
        <app-list-person class="list-peson" [title]="'Cast'" [person]="movie.cast" *ngIf="movie?.cast"></app-list-person>
    </div>
</div>

</div>
<div class="container-movie">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="{{ 'app.common-component.movie-details.tabs.details' | translate }}">
            <app-about-movie [movie]="movie"></app-about-movie>
        </mat-tab>
        <mat-tab label="{{ 'app.common-component.movie-details.tabs.reviews' | translate }}">
            <div *ngFor="let review of movieConsultation.reviews">
                <app-review-card [review]="review" [isProfile]="false"></app-review-card>
            </div>
        </mat-tab>
        <mat-tab label="Similar films">"{{ 'app.common-component.movie-details.tabs.similar-films' | translate }}"</mat-tab>
    </mat-tab-group>

</div>
<ng-template #notFound class="not-found-container">
    <div>
        <h2 class="not-found-text">
            {{ 'app.common-component.movie-details.not-found' | translate}}
        </h2>
    </div>
</ng-template>