<div *ngIf="!!movie; else notFound" class=" mx-20">

    <div class="container-movie">

        <img class="movie-details-image" [src]="posterUrl" [alt]="'app.common-component.movie-details.image-not-found' | translate">

    <div class="details mx-10">
        <div class="name  mr-10 title-md name-and-action-wrapper">
            <h2>{{movie.title}}</h2>
            <app-movie-actions
                [disabled]="!isLogged"
                [showLike]="true"
                [showAddReview]="true"
                [showWatchList]="true"
                [showWatched] = "true"
                [movieId]="movie.id"
                [isInWatchList]="isInWatchlist"
                [isLiked]="isLiked"
                [isReviewAdded]="isReviewAdded"
                [isWatched] = "isWatched"
                (watchlistActionEvent)="handleWatchListAction($event)"
                (reviewActionEvent)="handleReviewAction($event)"
                (likeActionEvent)="handleLikeAction($event)"
                (watchedActionEvent)="handleWatchAction($event)">
            </app-movie-actions>
        </div>
        <div style="display: flex;" class="my-20">
            <mat-icon class="mr-4" style="color:#ffe234;" aria-hidden="false" aria-label="star"
                fontIcon="star"></mat-icon>
            <div class="mr-10">{{movie?.imdbRating}}</div>
            <mat-icon class="mr-4" aria-hidden="false" aria-label="calendar_today" fontIcon="calendar_today"></mat-icon>
            <div class="mr-10">{{movie?.releaseDate | date:'y'}}</div>
            <mat-icon class="mr-4" aria-hidden="false" aria-label="access_time" fontIcon="access_time"></mat-icon>
            <div class="mr-10">{{movie?.runtime}} min</div>
        </div>
        <button mat-raised-button color="primary" (click)="watchTrailer()" class="watch-trailer-button">
          <mat-icon class="mr-2">play_circle</mat-icon>
          {{ 'app.common-component.movie-details.watch-trailer' | translate }}
        </button>
        <div style="display: flex; flex-direction: row;" class="my-20">
            <div *ngFor="let g of movie.genres" class="rounded-border-gradient mr-10">{{g}}</div>
        </div>
        <div class="mr-10">{{movie.overview}}</div>
        <!-- cast -->
        <app-list-person class="list-peson" [title]="'Cast'" [person]="movie.cast" *ngIf="movie?.cast"></app-list-person>
    </div>
</div>

</div>
<div class="container-movie">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="{{ 'app.common-component.movie-details.tabs.details' | translate }}">
            <app-about-movie [movie]="movie"></app-about-movie>
        </mat-tab>
        <mat-tab label="{{ 'app.common-component.movie-details.tabs.reviews' | translate }}">
            <div *ngIf="movieConsultation.reviews.length > 0; else noReviews">
                <div *ngFor="let review of movieConsultation?.reviews">
                    <app-review-card [review]="review" [isProfile]="false"></app-review-card>
                </div>
            </div>
            <ng-template #noReviews>
                <h2 class="empty-reviews">
                    {{ 'app.common-component.movie-details.reviews-not-found' | translate}}
                </h2>
            </ng-template>

        </mat-tab>
        <mat-tab label="{{ 'app.common-component.movie-details.tabs.similar-films' | translate }}">
            <div *ngIf="similarMovies.length > 0; else noSimilarMovie" class="similar-wrapper">
                    <div *ngFor="let movie of similarMovies" >
                        <movie-card [movie]="movie">
                        </movie-card>
                    </div>
            </div>
            <ng-template #noSimilarMovie>
                <h2>
                    {{ 'app.common-component.movie-details.no-similar-films' | translate}}
                </h2>
            </ng-template>
            <!-- "{{ 'app.common-component.movie-details.tabs.similar-films' | translate }}" -->
        </mat-tab>
    </mat-tab-group>

</div>
<ng-template #notFound class="not-found-container">
    <div>
        <h2 class="not-found-text">
            {{ 'app.common-component.movie-details.not-found' | translate}}
        </h2>
    </div>
</ng-template>
